@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
    font-family: "Inter-Regular";
    src: url("../public/font/Inter-Regular.ttf");
  };
  @font-face {
    font-family: "Inter-Medium";
    src: url("../public/font/Inter-Medium.ttf");
  };
  @font-face {
    font-family: "Inter-SemiBold";
    src: url("../public/font/Inter-SemiBold.ttf");
  };
  @font-face {
    font-family: "Inter-Bold";
    src: url("../public/font/Inter-Bold.ttf");
  };

  html {
    scroll-behavior: smooth;
  }
  .line{
    margin-left: -15%;
  }

  img.rotate_globe {
		animation: rotate-animation 10s infinite linear;
	}

  @keyframes rotate-animation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }